@media screen and (max-width: 560px) {
  header {
    padding: 50px 20px;
  }

  .menu {
    display: none;
  }

  .logo {
    margin: 0 auto;
  }

  .banner-area {
    flex-direction: column-reverse;
  }

  .banner-content {
    margin-top: 60px;
    width: 100%;
    text-align: center;
  }

  .banner-content h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .brand-area {
    border: none;
  }

  .brand-img {
    flex-wrap: wrap;
  }

  .brand-img img {
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
  }

  .heading h4 {
    text-align: left;
  }

  .product-area {
    flex-direction: column-reverse;
  }

  .product-box {
    padding: 25px 0;
    width: 50%;
  }

  .product-img img {
    width: 100%;
    overflow: hidden;
  }

  .see-more {
    float: left;
  }

  .features-area {
    flex-direction: column-reverse;
    width: 100%;
    padding: 30px 20px;
    align-items: center;
  }

  .features-content h4 {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
  }

  .features-img {
    width: 100%;
  }

  .features-content {
    width: 100%;
  }
}

/* MEDIAM-DEVICE  */

@media screen and (min-width: 576px) and (max-width: 768px) {
  header {
    padding: 50px 20px;
  }

  .logo h5 {
    font-size: 22px;
  }

  .banner-content h2 {
    font-size: 30px;
    line-height: 40px;
  }
}
