@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 42px;
  font-weight: 700;
  color: #3a3a3a;
}

p {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
}

/* NABIGATION-BAR-AREA  */

.navigation-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.menu > ul {
  display: flex;
}

.menu li {
  list-style: none;
}

.menu li a {
  font-size: 18px;
  text-decoration: none;
  margin-right: 30px;
  font-weight: 600;
  color: #3a3a3a;
}

.logo h5 {
  font-size: 25px;
}
