@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 42px;
  font-weight: 700;
  color: #3a3a3a;
}

p {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
}

.btn {
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  padding: 15px 37px;
  border: none;
  border-radius: 45px;
  background: #e02c6d;
  align-items: center;
}

.btn-normal {
  border-radius: 0;
}

/* NABIGATION-BAR-AREA  */

header {
  padding: 50px 120px;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > ul {
  display: flex;
}

.menu li {
  list-style: none;
}

.menu li a {
  font-size: 18px;
  text-decoration: none;
  margin-right: 30px;
  font-weight: 600;
  color: #3a3a3a;
}

.logo h5 {
  font-size: 25px;
}

/* BANNER-AREA-START  */

.banner-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.banner-content {
  width: 500px;
}

.banner-content h2 {
  margin-bottom: 14px;
  line-height: 60px;
}

.banner-content p {
  margin-bottom: 25px;
}

.banner-img {
  background-image: url("../images/Circle\ design.svg");
  background-size: cover;
  background-position: center center;
}

.btn i {
  margin-left: 14px;
}

.banner-img img {
  width: 100%;
  height: 100%;
}

/* MAIN-AREA  */

main {
  width: 1100px;
  margin: 0 auto;
}

/* BRAND-AREA  */

.brand-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #e4e9ef;
  border-bottom: 1px solid #e4e9ef;
  padding: 30px 0;
}

/* PRODUCT-AREA  */

.heading h4 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin: 110px 0 0 0;
  padding-bottom: 50px;
}

.product-area {
  display: flex;
  gap: 20px;
  padding: 15px 0;
}

.product-box {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 15px;
  width: 100%;
}

.product-content h5 {
  font-size: 26px;
  font-weight: 500;
  color: #18191f;
  margin-bottom: 5px;
}

.product-content h4 {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  margin-bottom: 10px;
}

.product-img img {
  width: 100%;
}

.product-icon i {
  color: #fb8200;
}

.product-content span,
.product-icon span {
  font-size: 18px;
  color: #787885;
  font-weight: 700;
}

.see-more {
  float: right;
  margin-top: 30px;
}

.see-more a {
  color: rgba(224, 44, 109, 0.87);
  text-decoration: none;
  font-weight: 700;
  display: block;
}

.see-more i {
  margin-left: 10px;
}

/* FEATURES-AREA  */

.features-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 160px 0 60px 0;
}

.features-content {
  width: 500px;
}

.features-content h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.features-content p {
  margin-bottom: 22px;
}

/* FOOTER-AREA  */

footer {
  background: #0a0826;
  padding: 100px 0 50px 0;
}

.footer-area {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-content h4 {
  font-size: 26px;
  color: #fff;
  margin-bottom: 12px;
}

.footer-content p {
  font-size: 15px;
  color: #d9dbe1;
  margin-bottom: 25px;
}

.footer-icon i {
  background: #22213c;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
  margin-right: 15px;
}
