@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 42px;
  font-weight: 700;
  color: #3a3a3a;
}

p {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
}

.btn {
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  padding: 20px 37px;
  border: none;
  border-radius: 45px;
  background: #e02c6d;
  align-items: center;
}

/* NABIGATION-BAR-AREA  */

header {
  padding: 50px 120px;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > ul {
  display: flex;
}

.menu li {
  list-style: none;
}

.menu li a {
  font-size: 18px;
  text-decoration: none;
  margin-right: 30px;
  font-weight: 600;
  color: #3a3a3a;
}

.logo h5 {
  font-size: 25px;
}

/* BANNER-AREA-START  */

.banner-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.banner-content {
  width: 500px;
}

.banner-content h2 {
  margin-bottom: 14px;
  line-height: 60px;
}

.banner-content p {
  margin-bottom: 25px;
}

.banner-img {
  background-image: url("../images/Circle\ design.svg");
  background-size: cover;
  background-position: center center;
}

.btn i {
  margin-left: 18px;
}
